## Deliverable 2. Create a Customer Travel Destinations Map.

In [29]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps
import numpy as np

# Import API key
from config import g_key

# Configure gmaps API key
gmaps.configure(api_key=g_key)

In [8]:
# 1. Import the WeatherPy_database.csv file. 
city_data_df = pd.read_csv("../Weather_Database/WeatherPy_database.csv")
city_data_df.head()

,City_ID,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date,Current Description
0,0,Katsuura,35.1333,140.3000,75.22,97,100,12.93,JP,2022-07-16 14:49:22,light rain
1,1,Busselton,-33.6500,115.3333,56.93,75,81,5.48,AU,2022-07-16 14:45:52,broken clouds
2,2,Sarh,9.1429,18.3923,80.51,78,40,6.91,TD,2022-07-16 14:49:22,thunderstorm
3,3,Punta Arenas,-53.1500,-70.9167,30.11,100,100,9.06,CL,2022-07-16 14:49:23,overcast clouds
4,4,North Platte,41.1239,-100.7654,78.98,66,0,3.00,US,2022-07-16 14:47:43,clear sky

In [9]:
# 2. Prompt the user to enter minimum and maximum temperature criteria 

min_temp = float(input('What is the minimum temperature you would like for your trip?'))
max_temp = float(input('What is the maximum temperature you would like for your trip?'))

What is the minimum temperature you would like for your trip?70
What is the maximum temperature you would like for your trip?85

In [21]:
# 3. Filter the city_data_df DataFrame using the input statements to create a new DataFrame using the loc method.

clean_data_df = city_data_df.loc[(city_data_df['Max Temp'] <= max_temp) & \
                                       (city_data_df['Max Temp'] >= min_temp)]
clean_data_df

,City_ID,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date,Current Description
0,0,Katsuura,35.1333,140.3000,75.22,97,100,12.93,JP,2022-07-16 14:49:22,light rain
2,2,Sarh,9.1429,18.3923,80.51,78,40,6.91,TD,2022-07-16 14:49:22,thunderstorm
4,4,North Platte,41.1239,-100.7654,78.98,66,0,3.00,US,2022-07-16 14:47:43,clear sky
6,6,Puerto Ayora,-0.7393,-90.3518,70.56,93,89,8.01,EC,2022-07-16 14:49:23,overcast clouds
7,7,Hermanus,-34.4187,19.2345,74.80,52,16,3.00,ZA,2022-07-16 14:49:24,few clouds
...,...,...,...,...,...,...,...,...,...,...,...
680,680,Nouadhibou,20.9310,-17.0347,75.18,73,75,24.16,MR,2022-07-16 14:53:01,sand
681,681,Ambon,-3.6954,128.1814,79.23,14,40,4.61,ID,2022-07-16 14:53:02,moderate rain
682,682,Northam,51.0333,-4.2167,77.25,46,21,5.03,GB,2022-07-16 14:53:02,few clouds
684,684,Santa Cruz,-17.8000,-63.1667,71.65,94,75,21.85,BO,2022-07-16 14:53:03,thunderstorm with light rain
687,687,Olinda,-8.0089,-34.8553,76.73,88,75,13.80,BR,2022-07-16 14:53:04,broken clouds

In [22]:
# 4a. Determine if there are any empty rows.

clean_data_df.isnull().sum()

City_ID                0
City                   0
Lat                    0
Lng                    0
Max Temp               0
Humidity               0
Cloudiness             0
Wind Speed             0
Country                2
Date                   0
Current Description    0
dtype: int64

In [23]:
# 4b. Drop any empty rows and create a new DataFrame that doesn’t have empty rows.

clean_data_df = clean_df.dropna()
clean_data_df

,City_ID,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date,Current Description
0,0,Katsuura,35.1333,140.3000,75.22,97,100,12.93,JP,2022-07-16 14:49:22,light rain
2,2,Sarh,9.1429,18.3923,80.51,78,40,6.91,TD,2022-07-16 14:49:22,thunderstorm
4,4,North Platte,41.1239,-100.7654,78.98,66,0,3.00,US,2022-07-16 14:47:43,clear sky
6,6,Puerto Ayora,-0.7393,-90.3518,70.56,93,89,8.01,EC,2022-07-16 14:49:23,overcast clouds
7,7,Hermanus,-34.4187,19.2345,74.80,52,16,3.00,ZA,2022-07-16 14:49:24,few clouds
...,...,...,...,...,...,...,...,...,...,...,...
680,680,Nouadhibou,20.9310,-17.0347,75.18,73,75,24.16,MR,2022-07-16 14:53:01,sand
681,681,Ambon,-3.6954,128.1814,79.23,14,40,4.61,ID,2022-07-16 14:53:02,moderate rain
682,682,Northam,51.0333,-4.2167,77.25,46,21,5.03,GB,2022-07-16 14:53:02,few clouds
684,684,Santa Cruz,-17.8000,-63.1667,71.65,94,75,21.85,BO,2022-07-16 14:53:03,thunderstorm with light rain
687,687,Olinda,-8.0089,-34.8553,76.73,88,75,13.80,BR,2022-07-16 14:53:04,broken clouds

In [24]:
len(clean_data_df)

308

In [50]:
# 5a. Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.

clean_hotel_df = clean_data_df[["City", "Country", "Max Temp", "Current Description", "Lat", "Lng"]].copy()

# 5b. Create a new column "Hotel Name"

hotel_df["Hotel Name"] = ""
hotel_df.head(10)

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,Katsuura,JP,75.22,light rain,35.1333,140.3000,
2,Sarh,TD,80.51,thunderstorm,9.1429,18.3923,
4,North Platte,US,78.98,clear sky,41.1239,-100.7654,
6,Puerto Ayora,EC,70.56,overcast clouds,-0.7393,-90.3518,
7,Hermanus,ZA,74.80,few clouds,-34.4187,19.2345,
8,Lagoa,PT,70.30,clear sky,39.0500,-27.9833,
12,Butaritari,KI,77.92,moderate rain,3.0707,172.7902,
13,Ponta Do Sol,PT,77.00,few clouds,32.6667,-17.1000,
14,Mahebourg,MU,71.89,scattered clouds,-20.4081,57.7000,
15,Atuona,PF,76.82,light rain,-9.8000,-139.0333,

In [51]:
# 6a. Set parameters to search for hotels with 5000 meters.

# 6b. Iterate through the hotel DataFrame.
for index, row in clean_hotel_df.iterrows():
    # 6c. Get latitude and longitude from DataFrame
    lat = row['Lat']
    lng = row['Lng']
    
    params['location'] = f"{lat},{lng}"
    
    # 6d. Set up the base URL for the Google Directions API to get JSON data.
    base_url = 'https://maps.googleapis.com/maps/api/place/nearbysearch/json'

    # 6e. Make request and retrieve the JSON data from the search. 
    hotels = requests.get(base_url, params=params).json()
    # 6f. Get the first hotel from the results and store the name, if a hotel isn't found skip the city.
    try:
        clean_hotel_df.loc[index, 'Hotel Name'] = hotels['results'][0]['name']
    except (IndexError):
        clean_hotel_df['Hotel Name'].replace('', np.nan, inplace=True)

In [52]:
# 7. Drop the rows where there is no Hotel Name.

clean_hotel_df = clean_hotel_df.dropna()
clean_hotel_df

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,Katsuura,JP,75.22,light rain,35.1333,140.3000,Katsuura Hotel Mikazuki
2,Sarh,TD,80.51,thunderstorm,9.1429,18.3923,Domicile 1sur le goudron
4,North Platte,US,78.98,clear sky,41.1239,-100.7654,"Holiday Inn Express & Suites North Platte, an ..."
6,Puerto Ayora,EC,70.56,overcast clouds,-0.7393,-90.3518,Finch Bay Galapagos Hotel
7,Hermanus,ZA,74.80,few clouds,-34.4187,19.2345,Misty Waves Boutique Hotel
...,...,...,...,...,...,...,...
680,Nouadhibou,MR,75.18,sand,20.9310,-17.0347,El Medina
681,Ambon,ID,79.23,moderate rain,-3.6954,128.1814,Swiss-Belhotel Ambon
682,Northam,GB,77.25,few clouds,51.0333,-4.2167,Durrant House Hotel
684,Santa Cruz,BO,71.65,thunderstorm with light rain,-17.8000,-63.1667,Aviador Hotel Boutique
687,Olinda,BR,76.73,broken clouds,-8.0089,-34.8553,Flat Quatro Rodas Olinda

In [53]:
# 8a. Create the output File (CSV)

output_data_file = "../Vacation_Search/WeatherPy_vacation.csv"


# 8b. Export the City_Data into a csv
clean_hotel_df.to_csv(output_data_file, index_label="City_ID")

In [54]:
# 9. Using the template add city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Weather</dt><dd>{Current Description} and {Max Temp} °F</dd>
</dl>
"""

# 10a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in clean_hotel_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = clean_hotel_df[["Lat", "Lng"]]

In [59]:
import matplotlib.pyplot as plt

In [62]:
# 11a. Add a marker layer for each city to the map. 

fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(marker_layer)



#Save fig

plt.savefig("../WeatherPy_vacation_map.png")

In [63]:
#11b Print fig

print(fig)

Figure(layout=FigureLayout(height='420px'))